!!!
%html
  %head
    %title Cucumber Asset Performance
    %script(src="#{File.join(dir, 'views', 'assets', 'js', 'jquery-1.10.2.min.js')}")
    %script(src="#{File.join(dir, 'views', 'assets', 'js', 'bootstrap.min.js')}")
    %link(rel='stylesheet' type='text/css' href="#{File.join(dir, 'views', 'assets', 'css', 'bootstrap.min.css')}")
    %link(rel='stylesheet' type='text/css' href="#{File.join(dir, 'views', 'assets', 'css', 'asset-performance.css')}")
  %body
    .navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %a.navbar-brand{href: '#'} Cucumber Asset Performance
    .container.start
      .row
        .col-lg-6
          %h3
            Scenario:
            %em.normal-weight= scenario.title
          %h3
            Start Time:
            %em.normal-weight= start_time.strftime '%D %r'
          %h3
            Total Pages:
            %em.normal-weight= scenario.pages.size
          %h3
            Total Assets:
            - assets = 0
            - scenario.pages.each { |page| assets += page.page_assets.size }
            %em.normal-weight= assets
          %h3
            Total Load Time:
            - total_load_time = 0
            - scenario.pages.each { |page| total_load_time += page.total_load_time }
            %em.normal-weight #{total_load_time}ms
      %hr
      .panel-group#pages-accordion
        - scenario.pages.each_with_index do |page, index|
          - id = "page_#{index}"
          .panel.panel-default
            .panel-heading
              %h5.panel-title
                %a{data: {toggle: 'collapse', parent: '#pages-accordion'}, href: "##{id}"}= page.title
            .panel-collapse.collapse{id: id}
              .panel-body
                %p
                  Page Title:
                  = page.title
                %p
                  Page Load Time:
                  #{page.total_load_time}ms
                .panel-group#assets-accordion
                  - page.page_assets.each_with_index do |page_asset, index|
                    - id = "asset_#{index}"
                    .panel.panel-info
                      .panel-heading.panel-info
                        %h6.panel-title
                          %a{data: {toggle: 'collapse', parent: '#assets-accordion'}, href: "##{id}"}
                            = page_asset.request.type
                            \ -
                            = page_asset.request.url
                      .panel-collapse.collapse{id: id}
                        .panel-body
                          %p
                            Response Status:
                            = page_asset.response.status
                          %p
                            Response Header Size:
                            = page_asset.response.header_size
                          %p
                            Response Body Size:
                            = page_asset.response.body_size
                          %p
                            Mime Type:
                            = page_asset.response.mime_type
                          %p Timings:
                          .timings.indent
                            %p Blocked: #{page_asset.response.timings.blocked}
                            %p DNS: #{page_asset.response.timings.dns}
                            %p Connect: #{page_asset.response.timings.connect}
                            %p Send: #{page_asset.response.timings.send}
                            %p Wait: #{page_asset.response.timings.wait}
                            %p Receive: #{page_asset.response.timings.receive}